fastapi
pydantic
pandas
requests
apify-client
gspread
oauth2client
google-auth
google-auth-oauthlib
google-auth-httplib2
vaderSentiment
textblob
plotly
openpyxl
uvicorn
python-multipart
aiofiles
streamlit
wordcloud
matplotlib
supabase
